@font-face {
  font-family: 'TT Firs Neue';
  src: local("../fonts/TTFirsNeue-Bold/TT Firs Neue Bold"), local("TT-Firs-Neue-Bold"), url("../fonts/TTFirsNeue-Bold/TTFirsNeue-Bold.woff2") format("woff2"), url("../fonts/TTFirsNeue-Bold/TTFirsNeue-Bold.woff") format("woff"), url("../fonts/TTFirsNeue-Bold/TTFirsNeue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local("../fonts/GothamPro-Bold/Gotham Pro Bold"), local("Gotham-Pro-Bold"), url("../fonts/GothamPro-Bold/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro-Bold/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold/GothamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr Bold';
  src: url("../fonts/Avenir-Next-Cyr-Bold/AvenirNextCyr-Bold.eot");
  src: url("AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Next-Cyr-Bold/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/Avenir-Next-Cyr-Bold/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@-webkit-keyframes introDrill {
  0%, 100% {
    -webkit-transform: translate3d(0%, 10%, 0);
            transform: translate3d(0%, 10%, 0);
  }
  50% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0);
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes introDrill {
  0%, 100% {
    -webkit-transform: translate3d(0%, 10%, 0);
            transform: translate3d(0%, 10%, 0);
  }
  50% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0);
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0E0E0E;
  font-family: "Open Sans", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  height: 100%;
}

.container__p80 {
  padding: 0 80px;
}

.container__p80-border {
  padding: 0 78px;
}

.container__p160 {
  padding: 0 160px;
}

.link__click {
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.link__click:active {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  left: 0;
  top: 0;
  z-index: 15;
  -webkit-transition: background .2s ease-in, border .2s ease-in;
  transition: background .2s ease-in, border .2s ease-in;
}

.header--black {
  color: #fff;
  border-bottom: 2px solid transparent;
}

.header--white {
  color: #5C6266;
  border-bottom: 2px solid #F6F6F6;
  background-color: #fff;
}

.header--white .header__logo__svg {
  fill: #5C6266;
}

.header__burger {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  top: 0;
  padding: 30px;
  height: 80px;
  width: 80px;
  background-color: #5C6266;
}

.header__burger--line {
  display: block;
  width: 20px;
  height: 3px;
  background: #fff;
  margin-bottom: 4px;
}

.header__inner {
  height: 100%;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0 97px 0 22px;
}

.header__logo:hover .header__logo__svg__company {
  fill: #FFCB05;
}

.header__logo__svg {
  fill: #fff;
  -webkit-transition: fill .2s ease-in;
  transition: fill .2s ease-in;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: inherit;
  font-size: 14px;
}

.header__link {
  color: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 35px;
  padding: 27px 25px;
  border-bottom: 4px solid transparent;
  -webkit-transition: border .2s ease;
  transition: border .2s ease;
}

.header__link:hover {
  border-color: #FFCB05;
}

.header__phone {
  font-family: "Open Sans", sans-serif;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 45px;
}

.header__phone:first-child {
  margin-left: 0;
}

.header__phone--name {
  font-weight: 700;
}

.screen {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.screen--white {
  background-color: #fff;
}

.intro {
  padding-top: 80px;
  color: #fff;
}

.intro__svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.intro__svg--disable {
  z-index: -4;
}

.intro__content {
  font-family: "Open Sans", sans-serif;
  margin-top: 27.1vh;
  margin-left: 160px;
  z-index: 30;
}

.intro__title {
  font-weight: bold;
  font-size: 96px;
  line-height: 140%;
}

.intro__title__first-word {
  color: #FFCB05;
}

.intro__subtext {
  font-weight: normal;
  font-size: 25px;
  line-height: 204.27%;
  max-width: 1100px;
}

.intro__image {
  position: absolute;
  z-index: -1;
  width: 110vw;
  left: -110px;
  bottom: -70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-animation: introDrill 60s infinite linear;
          animation: introDrill 60s infinite linear;
}

.intro__ring {
  opacity: 0.75;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  stroke: #FFCB05;
  stroke-width: 3;
  fill: none;
  opacity: 1;
}

.intro__ring__2 {
  opacity: .7;
}

.intro__ring__3 {
  opacity: .45;
}

.intro__ring__4 {
  opacity: .15;
}

.intro__ring--hide {
  opacity: 0;
}

.intro__ring--disable {
  opacity: 0.05;
  stroke-width: 5px;
  z-index: -5;
  stroke: #5C6266;
}

.section {
  height: 100%;
  width: 100%;
}

.about_us {
  border-left: 2px solid #F6F6F6;
  border-right: 2px solid #F6F6F6;
  color: #101010;
}

.about_us__part {
  border: 1px solid black;
}

.about_us__part--1 {
  margin-top: 100px;
  height: 30%;
}

.about_us__part--2 {
  height: 70%;
}

.about_us__title {
  text-transform: uppercase;
}

.about_us__title--1 {
  font-size: 18px;
  color: #101010;
  margin-bottom: 60px;
}

.about_us__title--2 {
  color: #fff;
}

.about_us__content {
  font-size: 25px;
  line-height: 204.27%;
}

.btn__minify {
  background: none;
  border: none;
  outline: none;
}

.btn__learn {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #101010;
  -webkit-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  padding-right: 25px;
  border-bottom: 2px solid transparent;
  position: relative;
}

.btn__learn::after {
  content: '';
  position: absolute;
  top: 35%;
  right: 15px;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  height: 6px;
  width: 6px;
  margin-left: 10px;
  display: inline-block;
  border-right: 2px solid #101010;
  border-bottom: 2px solid #101010;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn__learn:hover {
  border-color: #101010;
}

.btn__learn:hover::after {
  -webkit-transform: rotate(-45deg) translate(100%, 100%);
          transform: rotate(-45deg) translate(100%, 100%);
}
