@import 'colors&fonts';
@import 'mixins';
@import 'animations';

* {
    &,&::after,&::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body {
    background-color: $introBlack;
    font-family: $OpenSans;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    scrollbar-width: none;
    
}
body::-webkit-scrollbar {
    display: none;
}



.container {
    width: 100%; 
}
$headerHeight:80px;

.header{
    

    display: flex;
    width: 100%;
    height: $headerHeight;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;

    &--white {
        color: $white;
    }

    &__burger {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0;
        top: 0;

        padding: 30px;

        height: $headerHeight;
        width: $headerHeight;
        background-color: $BurgerBtnColor;
        &--line {
            display: block;

            width: 20px;
            height: 3px;
            background: $white;
            margin-bottom: 4px;
        }
    }

    &__inner {
        height: 100%;
        padding: 0 $headerHeight;

        display: flex;
        justify-content: space-between;
    }
    &__section {
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        align-items: center;
    }
    &__logo {
        margin: 0 97px 0 22px;
    }

    &__nav {
        display: flex;
        color: inherit;
        font-size: 14px;
    }
    &__link {
        color: inherit;

        font-family: $OpenSans;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 65px;
    }
    &__phone {
        font-family: $OpenSans;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        margin-left: 45px;

        &:first-child{
            margin-left: 0;
        }

        &--name {
            font-weight: 700;
        }
    }
}

.intro {
    height: 100vh;
    overflow: hidden;
    padding-top: $headerHeight;
    color: #fff;
    position: relative;
    

    &__svg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        stroke: $yellow;

        
    }
    &__inner {
        
    }
    &__content {
        font-family: $OpenSans;
        margin-top: 27.1vh;
        margin-left: 160px;
        z-index: 30;
    }

    &__title {
        font-weight: bold;
        font-size: 96px;
        line-height: 140%;
        &__first-word {
            color: $yellow;
        }
    }

    &__subtext {
        font-weight: normal;
        font-size: 25px;
        line-height: 204.27%;
        max-width: 1100px;
    }

    &_image {
        position: absolute;
        left: -30px;
        bottom: -30px;
        z-index: -3;
        width: 110vw;
        
        // transform: translate3d(0,20%,0);
        transform: scale(1.5);
        transform: rotate(-10deg);
    }

    &__ring{
        opacity: 0.75;
        transition: opacity 1s;
        stroke: $yellow;
        stroke-width: 2;
        opacity: 1;
        &__2 {
            opacity: .7;
        }
        &__3 {
            opacity: .45;
        }
        &__4 {
            opacity: .15;
        }
    
        &--hide {
            opacity: 0;
        }
        &--disabled{
            stroke: $BurgerBtnColor;
        }
    }

}




#intro_test{
    background-color: #fff;
}