@import 'colors&fonts';
@import 'mixins';
@import 'animations';

* {
    &,&::after,&::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body {
    background-color: $introBlack;
    font-family: $OpenSans;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    scrollbar-width: none;
    
}
body::-webkit-scrollbar {
    display: none;
}



.container {
    width: 100%;
    height: 100%;
    
    &__p80 {
        padding: 0 78px;
    }
}
$headerHeight:80px;

.header{
    position: fixed;

    display: flex;
    width: 100%;
    height: $headerHeight;
    // position: absolute;
    left: 0;
    top: 0;
    z-index: 15;

    transition: background .2s ease-in,
                border .2s ease-in;

    &--black {
        color: $white;
        border-bottom: 2px solid transparent;   
    }

    &--white{
        color: $BurgerBtnColor;
        border-bottom: 2px solid $whiteGrey;
        background-color: $white;

        .header__logo__svg {
            fill: $BurgerBtnColor;
        }
    }

    &__burger {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0;
        top: 0;

        padding: 30px;

        height: $headerHeight;
        width: $headerHeight;
        background-color: $BurgerBtnColor;
        &--line {
            display: block;

            width: 20px;
            height: 3px;
            background: $white;
            margin-bottom: 4px;
        }
    }

    &__inner {
        height: 100%;
        padding: 0 $headerHeight;

        display: flex;
        justify-content: space-between;
    }
    &__section {
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        align-items: center;
    }
    &__logo {
        margin: 0 97px 0 22px;

        &__svg{
            fill: $white;
        }
    }

    &__nav {
        display: flex;
        color: inherit;
        font-size: 14px;
    }
    &__link {
        color: inherit;

        font-family: $OpenSans;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 65px;
    }
    &__phone {
        font-family: $OpenSans;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        margin-left: 45px;

        &:first-child{
            margin-left: 0;
        }

        &--name {
            font-weight: 700;
        }
    }
}
.screen {
    height: 100vh;
    overflow: hidden;
    position: relative;

    &--white {
        background-color: $white;
    }
}
.intro {
    // height: 100vh;
    // overflow: hidden;
    padding-top: $headerHeight;
    color: #fff;
    // position: relative;
    

    &__svg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        

        &--disable {
            z-index: -4;
        }
    }
    
    &__content {
        font-family: $OpenSans;
        margin-top: 27.1vh;
        margin-left: 160px;
        z-index: 30;
    }

    &__title {
        font-weight: bold;
        font-size: 96px;
        line-height: 140%;
        &__first-word {
            color: $yellow;
        }
    }

    &__subtext {
        font-weight: normal;
        font-size: 25px;
        line-height: 204.27%;
        max-width: 1100px;
    }

    &__image {
        position: absolute;
        
        z-index: -1;
        width: 110vw;
        
        left: -110px;
        bottom: -70px;
        
        transform: rotate(0);

        animation: introDrill 60s infinite linear ;
    }

    &__ring{
        opacity: 0.75;
        transition: opacity 1s;
        stroke: $yellow;
        stroke-width: 3;
        fill:none;
        opacity: 1;
        &__2 {
            opacity: .7;
        }
        &__3 {
            opacity: .45;
        }
        &__4 {
            opacity: .15;
        }
    
        &--hide {
            opacity: 0;
        }
        &--disable{
            opacity: 0.05;
            stroke-width: 5px;
            z-index: -5;
            stroke: $BurgerBtnColor;
        }
    }

}

.section{
    height: 100%;
    width: 100%;
}

.about__us{
    height: 100%;
    border-left: 2px solid $whiteGrey;
    border-right: 2px solid $whiteGrey;
    
    
}


